.sign-up {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;

  .container {
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 1s;

    .blur {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: rgba(white, .5);
      backdrop-filter: blur(5px);
    }

    p {
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      position: relative;
    }

    span {
      position: relative;
    }

    .sign-up {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      h2 {
        text-transform: capitalize;
        font-size: 1.5rem;
        margin: 0;
      }

      form {
        width: 100%;

        section {
          position: relative;
          width: 100%;
          height: 60px;
          margin-top: 15px;
          overflow: hidden;

          &:nth-child(1) {
            margin-top: 50px;
          }

          p {
            font-size: 0.9rem;
            line-height: 0.9rem;
            color: #cacfd2;
            font-weight: normal;
            position: absolute;
            left: 40px;
            bottom: 13px;
            z-index: 1;
            margin: 0;
            pointer-events: none;
            transition: 0.3s;
          }

          mat-icon {
            position: absolute;
            left: 5px;
            bottom: 10px;
            z-index: 1;
            color: #cacfd2;
            transform: scale(0.8);
            pointer-events: none;
            transition: 0.3s;
          }

          input {
            width: 100%;
            height: 40px;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 0;
            border: none;
            outline: none;
            border-bottom: 2px solid #e5e7e9;
            padding-left: 40px;

            &.ng-invalid.ng-touched {
              border-color: red;
            }

            &.ng-valid {
              border-color: green;
            }

            &.ng-invalid.ng-touched + p {
              span {
                color: red;
              }

              & + mat-icon {
                color: red;
              }
            }
          }

          & + p {
            font-weight: normal;
            font-size: 0.8rem;
            text-align: right;
            cursor: pointer;
          }
        }

        .focus {
          p {
            color: #3b5d50;
            left: -70px;
            bottom: 45px;
            text-transform: capitalize;

            &.confirm {
              left: 0;
            }
          }

          mat-icon {
            color: #3b5d50;
            transform: scale(1);
          }
        }

        p {
          text-transform: none;

          &::first-letter {
            text-transform: uppercase;
          }
        }

        & + span {
          color: #3b5d50;
          margin: 10px 0 20px 0;
        }

        button {
          width: 100%;
          height: 40px;
          border: none;
          border-radius: 20px;
          margin: 30px 0;
          font-size: 1.1rem;
          font-weight: bolder;
          color: white;
          text-transform: uppercase;
          letter-spacing: 1px;
          background-color: #3b5d50;
          position: relative;
          cursor: pointer;
          overflow: hidden;

          span {
            width: 100px;
            height: 100px;
            background-color: rgba(white, .5);
            position: absolute;
            top: -40px;
            right: -105px;
            transform: rotate(-20deg);
            transition: .5s;
          }

          &:hover {
            span {
              right: 110%;
            }
          }
        }
      }

      div {
        img {
          width: 40px;
          cursor: pointer;

          &:nth-child(2) {
            margin: 0 20px;
          }

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}


