<div class="manager"
     [ngStyle]="isLoaded ? {'opacity': 1, 'margin-top' : '0px'} : {'opacity': 0, 'margin-top' : '150px'}">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" placeholder="Name" formControlName="name">
    </div>
    <div>
      <label for="description">Description</label>
      <textarea type="text" id="description" placeholder="Description"
                formControlName="description"></textarea>
    </div>
    <div>
      <label for="image">Image url</label>
      <input type="text" class="form-control" id="image" placeholder="Image url" formControlName="image">
    </div>
    <div>
      <label for="description">Category</label>
      <select class="form-select" formControlName="categoryId">
        <option *ngFor="let category of categories$ | async" [value]="category.id">
          {{category.name}}
        </option>
      </select>
    </div>

    <div>
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" placeholder="price" formControlName="price">
    </div>
    <div class="buttons" style="display: flex; flex-direction: row">
      <button type="submit">Save</button>
      <button type="submit" [routerLink]="['/manager/products']">Cancel</button>
    </div>
  </form>
  <div class="preview">
    <h1>Preview</h1>
    <app-product-card [preview]="true" [name1]="form.controls['name'].value" [imageSrc1]="form.controls['image'].value"
                      [price1]="form.controls['price'].value"></app-product-card>
  </div>
</div>

