<table class="categories">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of categories; let i  = index">
    <td>{{i + 1}}</td>
    <td>{{item?.name}}</td>
    <td>
      <mat-icon style="color: green" [routerLink]="['/manager/categories/edit', item.id]">edit</mat-icon>
    </td>
    <td>
      <mat-icon style="color: red" (click)="deleteItem(item.id)">delete_forever</mat-icon>
    </td>
  </tr>
  </tbody>
</table>

<button routerLink="/manager/categories/create">Add Category</button>

