.products {
  transition: 1s;
  display: flex;
  width: 80%;
  margin: auto;

  .sidebar {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: black;
      min-width: 200px;
      padding: 15px 0 15px 10px;

      &:hover {
        background-color: #F39C12;
        color: white;
      }

      &.active {
        background-color: #F39C12;
        color: white;
      }
    }
  }

  .container {
    width: 100%;
    border-left: 2px solid #F39C12;
    border-top: 2px solid #F39C12;
    padding: 15px;

    input {
      width: 100%;
      height: 50px;
      margin-bottom: 30px;
      padding-left: 15px;
      border: none;
      outline: none;
      border-bottom: 2px solid #F39C12;
      background-color: rgba(#F39C12, .5);
      font-size: 1.2rem;
    }

    .product-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 30px;
    }
  }
}
