<h1 [ngStyle]="isLoaded ? {'opacity': 1, 'margin-top' : '50px'} : {'opacity': 0, 'margin-top' : '150px'}">orders</h1>
<table class="orders"
       [ngStyle]="isLoaded ? {'opacity': 1, 'margin-top' : '50px'} : {'opacity': 0, 'margin-top' : '150px'}">
  <thead>
  <tr>
    <th>Order Date</th>
    <th>Total Price</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of orders$ | async">
    <td>{{item.createdAt | date: 'dd.MM.yyyy HH:mm'}}</td>
    <td>{{item.subTotal | currency: 'USD'}}</td>
    <td>{{item.pending ? 'Pending' : 'Completed'}}</td>
  </tr>
  </tbody>
</table>
