@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #FDFEFE;
}

body {
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F39C12;
}

::-webkit-scrollbar-thumb {
  background: #F1C40F;

  &:hover {
    background: #D4AC0D;
  }
}

